@charset "utf-8";

.m-hdgSubtxt {
  margin: 40px 0 30px;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.4;

  @include breakPC() {
    margin: 70px 0 50px;
    font-size: 6.6rem;
  }

  > span {
    position: relative;
    display: block;
    padding: 0 0 10px;
    font-size: 1.4rem;
    font-weight: normal;

    @include breakSP() {
      font-size: 1rem;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      content: "";
      background: $FONT-COLOR;

      @include breakSP() {
        width: 30px;
      }
    }
  }
}

.m-hdgUnderline {
  padding-bottom: 10px;
  margin: 40px 0 30px;
  font-size: 2.2rem;
  border-bottom: 1px solid $BORDER-COLOR;

  @include breakPC() {
    padding-bottom: 18px;
    margin: 60px 0 40px;
    font-size: 3rem;
  }
}

.m-hdgVerticallin {
  position: relative;
  padding-left: 14px;
  margin: 30px 0 20px;
  font-size: 1.8rem;

  @include breakPC() {
    font-size: 2rem;
  }

  &::before {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    content: "";
    background-color: $BG_COLOR;
  }
}
