@charset "utf-8";

/* ------------------------------------
 * .m-linkBtn
 * --------------------------------- */
.m-linkBtn {
  display: block;
  margin: 60px auto 0;

  @include breakSP() {
    margin: 30px auto 0;
    text-align: center;
  }

  a {
    display: inline-block;
    padding: 18px 48px;
    line-height: 1;
    background: #fff;
    color: $FONT_COLOR;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    border: 1px solid FONT_COLOR;
    border-radius: 30px;
    position: relative;
    transition: background-color $TRANSITION,
                box-shadow $TRANSITION,
                color $TRANSITION;

    &::before {
      @include iconArrow(45, $FONT_COLOR);
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      width: 6px;
      height: 6px;
      margin: auto;
      transition: border-color $TRANSITION;
    }

    @include hover {
      color: #fff;
      background-color: $FONT_COLOR;
      box-shadow: none;

      &::before {
        border-color: #fff;
      }
    }
  }
}

/* ------------------------------------
 * .m-linkPanel
 * --------------------------------- */
.m-linkPanel {
    width: 100%;
    max-width: 550px;
    height: 100%;
    margin: 30px auto;

    a {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      height: 100%;
      padding: 0 0 50px;
      text-decoration: none;
      color: $FONT-COLOR;
      background: #fff;
      position: relative;
      box-shadow: 0 10px 15px rgba(0,0,0,.15);
      transition: box-shadow .3s;

      @include breakPC() {
        padding: 0 0 70px;
      }

      &::before {
        @include iconArrow(45, $BG_COLOR);
        content: "";
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 10px;
        height: 10px;

        @include breakPC() {
          width: 18px;
          height: 18px;
        }
      }

      @include hover() {
        box-shadow: 0 0 5px rgba(0,0,0,.15);

        .m-linkPanel__img {
          img {
            transform: scale(1.07);
          }
        }
      }
    }

    &__contents {
      @include resetMargin();
      margin-top: 30px;
      padding: 0 30px;

      > * {
        margin-bottom: 20px;
      }
    }

    &__img {
      line-height: 0;
      overflow: hidden;

      img {
        transition: transform .3s;
      }
    }
}