@charset "utf-8";

.l-footer {
    position: relative;
  .footerContact {
    padding: 40px 0;
    box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, .16);
    @include breakPC() {
        padding: 70px 0;
    }
    &__inner {
      @include contentWidth();
    }
    &__col {
      @include breakPC() {
        display: flex;
        justify-content: space-between;
      }
      .col-r {
        @include resetMargin();
        margin-top: 20px;
        @include breakPC() {
          margin-left: 30px;
        }
      }
    }
    &__hdg {
      font-size: 2.2rem;
      @include breakPC() {
        font-size: 2.8rem;
      }
    }
    &__btnLink {
      display: block;
      margin-bottom: 15px;
      a {
        position: relative;
        display: block;
        padding: 18px 10px 18px 60px;
        font-size: 1.4rem;
        color: #333;
        border: 1px solid #333;
        transition: opacity $TRANSITION;
        @include breakPC() {
          display: inline-block;
          padding: 20px 30px 20px 90px;
          font-size: 2rem;
        }
        @include hover() {
          opacity: .6;
        }
        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 18px;
          width: 27px;
          height: 23px;
          margin: auto;
          content: "";
          background-image: inline("contact_icon_01.svg");
          background-repeat: no-repeat;
          background-size: contain;
          @include breakPC() {
            left: 35px;
            width: 27px;
            height: 23px;
          }
        }
      }
    }
    &__time {
      font-size: 1.2remv;
      text-align: right;
    }
  }
  .footer__contents {
    position: relative;
    padding: 40px 0 15px;
    color: #fff;
    background-color: $BG_COLOR;
    @include breakPC() {
      padding: 60px 0 30px;
    }
    &__inner {
      @include contentWidth();
      @include breakPC() {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
  }
  .footer__info {
    .footer__logo {
      margin-bottom: 40px;
      @include breakPC() {
        margin-bottom: 70px;
      }
      > a {
        display: inline-block;
        transition: opacity $TRANSITION;
        @include breakSP() {
          max-width: 140px;
        }
        @include hover() {
          opacity: .6;
        }
      }
    }
    .footer__navList {
      display: flex;
      > *:first-child {
        margin-left: 0;
      }
      > li {
        margin-left: 20px;
        a {
          color: #fff;
          transition: ease $TRANSITION opacity;
          @include hover {
            opacity: $OPACITY;
          }
        }
      }
    }
  }
    .footer__copyright {
        @include breakSP() {
            margin-top: 10px;
        }

        > p {
            margin-bottom: 0;
        }
    }
}
.pageTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-bottom: 0;
    border-radius: 50%;
    opacity: 1;
    transition: opacity .25s ease-out,
                visibility .25s ease-out;

    @include breakPC() {
        right: 30px;
        bottom: 30px;
        width: 70px;
        height: 70px;
        visibility: hidden;
        opacity: 0;
    }

    &.is-show {
        visibility: visible;
        opacity: 1;
    }

    &.is-fixed {
        position: absolute;
        top: calc(-46px / 2);

        @include breakPC() {
            top: calc(-70px / 2);
        }

        a {
            background-color: #fff;
            box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, .3);

            &::before {
                border-color: #333;
            }
        }
    }

    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background: #333;
        border-radius: 50%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
        transition: background-color .25s ease-out;

        &::before {
            @include iconArrow(-45, #fff);
            position: absolute;
            top: 8px;
            right: 0;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 20px;
            margin: auto;
            content: "";
            transition: border-color .25s ease-out;

            @include breakSP() {
                top: 4px;
                width: 10px;
                height: 10px;
            }
        }

        span {
            opacity: 0;
        }
    }
}
