@charset "utf-8";

.l-footer {
  margin-top: 50px;
  @include breakPC() {
    margin-top: 80px;
  }
  .footerContact {
    padding: 40px 0;
    box-shadow: 0px -6px 30px 0px rgba(0, 0, 0, .16);
    @include breakPC() {
      padding: 70px 0;
    }
    &__inner {
      @include contentWidth();
    }
    &__col {
      @include breakPC() {
        display: flex;
        justify-content: space-between;
      }
      .col-r {
        @include resetMargin();
        margin-top: 20px;
        @include breakPC() {
          margin-left: 30px;
        }
      }
    }
    &__hdg {
      font-size: 2.2rem;
      @include breakPC() {
        font-size: 2.8rem;
      }
    }
    &__btnLink {
      display: block;
      margin-bottom: 15px;
      a {
        display: block;
        border: 1px solid #333;
        font-size: 1.4rem;
        color: #333;
        padding: 10px 10px 10px 60px;
        position: relative;
        transition: opacity $TRANSITION;
        @include breakPC() {
          display: inline-block;
          font-size: 2rem;
          padding: 20px 30px 20px 90px;
        }
        @include hover() {
          opacity: .6;
        }
        &::before {
          content: "";
          position: absolute;
          background-image: inline('contact_icon_01.svg');
          background-size: contain;
          background-repeat: no-repeat;
          width: 27px;
          height: 23px;
          top: 0;
          bottom: 0;
          left: 18px;
          margin: auto;
          @include breakPC() {
            width: 27px;
            height: 23px;
            left: 35px;
          }
        }
      }
    }
    &__time {
      text-align: right;
      font-size: 1.2remv;
    }
  }
  .footer__contents {
    padding: 40px 0 15px;
    background-color: $BG_COLOR;
    color: #fff;
    @include breakPC() {
      padding: 60px 0 30px;
    }
    &__inner {
      @include contentWidth();
      @include breakPC() {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
  .footer__info {
    .footer__logo {
      margin-bottom: 40px;
      @include breakPC() {
        margin-bottom: 70px;
      }
      > a {
        display: inline-block;
        transition: opacity $TRANSITION;
        @include breakSP() {
          max-width: 140px;
        }
        @include hover() {
          opacity: .6;
        }
      }
    }
    .footer__navList {
      display: flex;
      > *:first-child {
        margin-left: 0;
      }
      > li {
        margin-left: 20px;
        a {
          color: #fff;
          transition: ease $TRANSITION opacity;
          @include hover {
            opacity: $OPACITY;
          }
        }
      }
    }
  }
  .footer__copyright {
    @include breakSP() {
      margin-top: 10px;
    }
    > p {
      margin-bottom: 0;
    }
  }
}
.pageTop {
  margin-bottom: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    &::before {
      @include iconArrow(-45, #fff);
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      bottom: 0;
      right: 0;
      width: 20px;
      height: 20px;
      margin: auto;
    }
    span {
      opacity: 0;
    }
  }
}