@charset "utf-8";

.main {
    // パンくずリスト
    .breadcrumb {
        @include contentWidth();
        padding-top: 17px;
        padding-bottom: 17px;

        @include breakSP {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0;

            li {
                font-size: 1.2rem;

                @include breakSP {
                    font-size: 1rem;
                }

                a {
                    text-decoration: none;
                }

                + li {
                    position: relative;
                    margin-left: 30px;

                    &::before {
                        @include iconArrow(45, $FONT_COLOR);
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: -19px;
                        width: 6px;
                        height: 6px;
                        margin: auto;
                        content: "";
                    }
                }

                [aria-current="page"] {
                    color: $FONT_COLOR;

                    @include hover {
                        opacity: 1  ;
                    }
                }
            }
        }
    }

    // コンテンツラッパー
    &-contents {
        overflow: hidden;
        &__inner {
            @include contentWidth();
            @include resetMargin();
        }
    }
}
