@charset "utf-8";
.header {
  height: 55px;
  @include breakPC() {
    height: 100%;
    margin: 0;
    padding: 35px 0;
    background-color: #fff;
    box-shadow: 0 0px 20px rgba(0,0,0,.3);
  }
}

.c-mv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  &::before {
    @include backDot();
    content: "";
    position: absolute;
    width: 80%;
    height: 60%;
    top: -59px;
    left: calc(-50vw + 50%);
  }
  &__contents,
  &__image {
    @include resetMargin();
  }
  &__contents {
    width: 50%;
    margin-right: 30px;
  }
  &__image {
    width: 100%;
    margin-right: calc(-50vw + 50%);
    img {
      width: 100%;
    }
  }
}