@charset "utf-8";
.header {
  height: 55px;
  @include breakPC() {
    height: 100%;
    margin: 0;
    padding: 35px 0;
    background-color: #fff;
    box-shadow: 0 0px 20px rgba(0,0,0,.3);
  }
}

.c-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 40px 0;

  @include breakPC() {
    padding: 60px 0;
  }

  &__inner {
    @include resetMargin();
    @include contentWidth();
  }

  &--gray {
    background-color: $BG_SUB_COLOR;
  }
}

.c-layout-mv,
.c-layout-img {
  display: flex;
  margin: 50px 0;
  position: relative;
  @include breakPC() {
    flex-direction: unset;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
  }

  &__contents,
  &__image {
    @include resetMargin();
  }

  &__image {
    width: 100%;
    margin-top: 30px;

    img {
      width: 100%;
    }

    @include breakPC() {
      margin-top: 0;
    }
  }
}

.c-layout-mv {
  flex-direction: column;

  &::before {
    @include backDot();
    content: "";
    position: absolute;
    width: 80%;
    height: 60%;
    top: -59px;
    left: calc(-50vw + 50%);
  }

  &__contents {
    width: 100%;
    padding: 20px;
    margin: 0 0 -25px calc(-50vw + 50%);
    z-index: 2;
    @include breakSP() {
      background-color: #fff;
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
    }

    @include breakPC() {
      width: 50%;
      margin: 0 30px 0;
      padding: 0;
    }
  }

  &__image {
    width: 100vw;
    margin: 0 calc(-50vw + 50%);

    @include breakPC() {
      width: 100%;
      margin: 0 calc(-50vw + 50%) 0;
    }
  }
}

.c-layout-img {
  flex-direction: column-reverse;

  &__contents {
    width: 70%;
    @include breakSP() {
      width: 100%;
      margin-top: 40px;
    }
  }

  &--right {
    @include breakPC() {
      .c-layout-img__contents {
        margin-right: 65px;
      }
      .c-layout-img__image {
        margin-right: calc(-50vw + 50%);
      }
    }
  }

  &--left {
    @include breakPC() {
      flex-direction: row-reverse;
      .c-layout-img__contents {
        margin-left: 65px;
      }
      .c-layout-img__image {
        margin-left: calc(-50vw + 50%);
      }
    }
  }
}