@charset "utf-8";

.top-case,
.top-chosen,
.top-qa {
  margin-top: 50px;
  @include breakPC() {
    margin-top: 80px;
  }
  &__inner {
    @include contentWidth();
  }
}
// .top-hdg
.top-hdgSubtxt {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    @include breakPC() {
      font-size: 2.8rem;
    }
    &__sub {
      display: block;
      margin-bottom: 10px;
      font-size: 1.2rem;
      line-height: 1;
      font-weight: 600;
      font-family: $FONT_FAMILY_DIDACT;
      @include breakPC() {
        margin-bottom: 20px;
        font-size: 1.6rem;
      }
    }
}
// top-btnLink
.top-btnLink {
  display: block;
  margin: 30px auto 0;
  text-align: center;
  @include breakPC() {
    margin: 60px auto 0;
  }
  a {
    display: inline-block;
    padding: 12px 46px;
    line-height: 1;
    background: #fff;
    color: $FONT_COLOR;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    border: 1px solid FONT_COLOR;
    border-radius: 30px;
    position: relative;
    transition: background-color $TRANSITION,
                box-shadow $TRANSITION,
                color $TRANSITION;
    &::before {
      @include iconArrow(45, $FONT_COLOR);
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      width: 6px;
      height: 6px;
      margin: auto;
      transition: border-color $TRANSITION;
    }
    @include hover {
      color: #fff;
      background-color: $FONT_COLOR;
      box-shadow: none;
      &::before {
        border-color: #fff;
      }
    }
  }
}
// top-txt
.top-txt {
  margin-top: 30px;
  @include breakPC() {
    margin-top: 40px;
  }
  p {
    margin-bottom: 0;
  }
  + .top-txt {
    margin-top: 20px;
  }
  @at-root {
    .top-txt.-center {
      text-align: center;
    }
    .top-txt.-right {
      text-align: right;
    }
  }
}
// ----------------------------
// .top-aboutUS
// ----------------------------
.top-aboutUS {
  &__inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 40%;
      height: 100%;
      bottom: 80px;
      left: -20px;
      background-size: 12px 12px;
      background-image: radial-gradient(#888FA7 5%,transparent 11%);
      background-color: transparent;
      opacity: .6;
      z-index: -1;
    }
  }
  &__intro {
    position: relative;
    margin: auto;
    padding: 0 25px;
    max-width: 1460px;
    @include breakPC() {
      padding: 0 60px;
    }
    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $FONT_COLOR;
      position: absolute;
      left: 6px;
      @include breakPC() {
        left: 30px;
      }
    }
    &::after {
      content: "";
      width: 15px;
      height: 1px;
      background-color: $FONT_COLOR;
      position: absolute;
      bottom: 5px;
      left: 4.5px;
      transform: rotate(-45deg);
      @include breakPC() {
        left: 28px;
      }
    }
    &__inner {
      padding: 0 40px;
      position: relative;
      @include contentWidth();
    }
  }
  &__secHdg {
    font-size: 1rem;
    font-family: $FONT_FAMILY_DIDACT;
    position: absolute;
    top: 55px;
    left: -30px;
    transform: rotate(90deg);
    @include breakPC() {
      font-size: 1.1rem;
      left: 0px;
    }
  }
  &__service {
    margin-top: 50px;
    @include breakPC() {
      margin-top: 80px;
      display: flex;
      justify-content: flex-start;
    }
    &__item {
      color: #fff;
      padding: 40px 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      @include breakPC() {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1 1 100%;
        padding: 80px 40px 40px;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #505050;
        opacity: .5;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
      }
      &.of-bgRecruit {
        background-image: url('/images/top_index_01.jpg');
      }
      &.of-bgCorporate {
        background-image: url('/images/top_index_02.jpg');
      }
      &.of-bgProduct {
        background-image: url('/images/top_index_03.jpg');
      }
      > * {
        position: relative;
      }
    }
    &__hdg {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 20px;
      @include breakPC() {
        font-size: 2.8rem;
        margin-bottom: 40px;
      }
    }
  }
}
// ----------------------------
// .top-chosen
// ----------------------------
.top-chosen {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(40% + 60px);
    bottom: -60px;
    left: 0;
    background-size: 12px 12px;
    background-image: radial-gradient(#888FA7 5%,transparent 11%);
    background-color: transparent;
    opacity: .6;
    z-index: -1;
  }
  .chosenCol {
    margin-top: 30px;
    @include breakPC() {
      display: flex;
      margin-top: 60px;
      margin-left: -75px;
    }
    &__item {
      &:nth-of-type(n + 2) {
        margin-top: 30px;
        @include breakPC() {
          margin-top: 0;
        }
      }
      @include breakPC() {
        margin-left: 75px;
      }
    }
    .chosenBox {
      background-color: #fff;
      padding: 120px 20px 30px;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0,0,0,.16);
      position: relative;
      @include breakPC() {
        padding: 240px 30px 40px;
      }
      &__hdg {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 6px;
        @include breakPC() {
          font-size: 2rem;
          margin-bottom: 40px;
        }
      }
      &.choseIcon-plan,
      &.choseIcon-service,
      &.choseIcon-work {
        &::before {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      &.choseIcon-plan {
        &::before {
          width: 72px;
          height: 50px;
          top: 50px;
          background-image: inline('top_index_icon-01.svg');
          @include breakPC(){
            width: 124px;
            height: 80px;
            top: 100px;
          }
        }
      }
      &.choseIcon-service {
        &::before {
          width: 58px;
          height: 60px;
          background-image: inline('top_index_icon-02.svg');
          top: 40px;
          @include breakPC(){
            width: 83px;
            height: 87px;
            top: 90px;
          }
        }
      }
      &.choseIcon-work {
        &::before {
          width: 53px;
          height: 65px;
          background-image: inline('top_index_icon-03.svg');
          top: 40px;
          @include breakPC(){
            width: 80px;
            height: 98px;
            top: 93px;
          }
        }
      }
    }
  }
}


// ----------------------------
// .top-qa
// ----------------------------
.top-qa {
  .qaList {
    margin-top: 30px;
    @include breakPC() {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      margin-left: -60px;
    }
    &__item {
      &:nth-of-type(n+2){
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px dotted #ccc;
      }
      @include breakPC() {
      width: calc(50% - 60px);
      margin-left: 60px;
        &:nth-of-type(n+3){
            margin-top: 60px;
        }
      }
    }
  }
  .qaBox {
    dt,
    dd {
      position: relative;
      &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 600;
        font-family: $FONT_FAMILY_DIDACT;
        position: absolute;
        border-radius: 50%;
        @include breakPC() {
          width: 40px;
          height: 40px;
          font-size: 1.6rem;
        }
      }
    }
    dt {
      font-size: 1.4rem;
      padding: 9px 0 9px 40px;
      @include breakPC() {
        font-size: 1.6rem;
        padding: 9px 0 9px 60px;
      }
      &::before {
        content: "Q";
        color: #fff;
        background-color: $BG_COLOR;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    dd {
      margin-top: 15px;
      padding-left: 40px;
      @include breakPC() {
        margin-top: 50px;
        padding-left: 60px;
      }
      &::before {
        content: "A";
        background-color: #fff;
        border: 1px solid $BG_COLOR;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
      }
    }
  }
}


// ----------------------------
// .top-case
// ----------------------------
.top-case {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: calc(65% + 80px);
    bottom: -40px;
    left: 0;
    background-size: 12px 12px;
    background-image: radial-gradient(#888FA7 5%,transparent 11%);
    background-color: transparent;
    opacity: .6;
    z-index: -1;
    @include breakPC() {
      bottom: -80px;
    }
  }
  &__inner {
    @include contentWidth();
  }
  &__col {
    margin-top: 30px;
    @include breakPC() {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      margin-left: -70px;
    }
    .col {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      &:nth-of-type(n+2) {
        margin-top: 30px;
      }
      @include breakPC() {
        margin-left: 70px;
        width: calc(50% - 70px);
        &:nth-of-type(n+2) {
          margin-top: 0;
        }
      }
      &__contents {
        margin-top: 20px;
        @include breakPC() {
          margin-top: 30px;
        }
        .top-hdg {
          font-size: 1.8rem;
          @include breakPC() {
            font-size: 2.4rem;
          }
        }
        .top-txt {
          margin-top: 10px;
          @include breakPC() {
            margin-top: 30px;
          }
        }
        .top-btnLink {
          text-align: right;
          margin-top: 10px;
          @include breakPC() {
            margin-top: 30px;
          }
        }
      }
      &__image {
        img {
          width: 100%;
        }
      }
    }
  }
}