@charset "utf-8";
.header {
  height: 100%;
  padding: 55px 0;
  margin: 0 0 40px;
  @include breakPC() {
    margin: 60px 0;
  }
  &__inner {
    padding: 0;
  }
  &TopMv {
    position: relative;
    height: 470px;
    @include breakPC() {
      height: 600px;
    }
    &__inner {
      display: flex;
      align-items: center;
      max-width: 1460px;
      height: 100%;
      margin: auto;
    }
    // ヘッダー背景画像共通スタイル
    @mixin topHeaderBg() {
      position: absolute;
      top: 0;
      right: 0;
      width: 90%;
      max-width: 1270px;
      height: 100%;
      content: "";
      @include breakPC() {
        width: 70%;
        height: 600px;
      }
    }
    &::before {
      @include topHeaderBg();
      background-image: url(../images/top_index_bg.jpg);
      background-repeat: no-repeat;
      background-position-x: 40%;
      background-size: cover;
      @include breakPC() {
        width: 70%;
        height: 600px;
      }
    }
    &::after {
      @include topHeaderBg();
      background: linear-gradient(-45deg, #5865b9, #22dcfd, #1c91e2, #5865b9);
      background-size: 300% 300%;
      opacity: .25;
      animation: Gradient 7s ease-in-out infinite;
      @keyframes Gradient {
        0% {
          background-position: 0% 50%
        }
        50% {
          background-position: 100% 50%
        }
        100% {
          background-position: 0% 50%
        }
      }
    }
  }
  &TopLogo {
    @include breakPC() {
      width: 30%;
      max-width: 392px;
      padding: 0 30px;
    }
    @include breakSP() {
      z-index: 1;
      max-width: 160px;
      padding: 30px 20px;
      background-color: #fff;
    }
    > a {
      display: inline-block;
      transition: opacity $TRANSITION;
      @include hover() {
        opacity: .6;
      }
    }
    > span {
      display: block;
      margin-top: 20px;
      font-size: 1.4rem;
      @include breakPC() {
      margin-top: 180px;
      font-size: 1.6rem;
      font-weight: 200;
      line-height: 2.4;
      }
    }
  }
}


.top-case,
.top-chosen,
.top-qa {
  margin-top: 50px;
  @include breakPC() {
    margin-top: 80px;
  }
  &__inner {
    @include contentWidth();
  }
}
// .top-hdg
.top-hdgSubtxt {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    @include breakPC() {
      font-size: 2.8rem;
    }
    &__sub {
      display: block;
      margin-bottom: 10px;
      font-family: $FONT_FAMILY_DIDACT;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1;
      @include breakPC() {
        margin-bottom: 20px;
        font-size: 1.6rem;
      }
    }
}
// top-btnLink
.top-btnLink {
  display: block;
  margin: 30px auto 0;
  text-align: center;
  @include breakPC() {
    margin: 60px auto 0;
  }
  a {
    position: relative;
    display: inline-block;
    padding: 18px 58px;
    line-height: 1;
    color: $FONT_COLOR;
    background: #fff;
    border: 1px solid FONT_COLOR;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    transition: background-color $TRANSITION,
                box-shadow $TRANSITION,
                color $TRANSITION;
    &::before {
      @include iconArrow(45, $FONT_COLOR);
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      width: 6px;
      height: 6px;
      margin: auto;
      content: "";
      transition: border-color $TRANSITION;
    }
    @include hover {
      color: #fff;
      background-color: $FONT_COLOR;
      box-shadow: none;
      &::before {
        border-color: #fff;
      }
    }
  }
}
// top-txt
.top-txt {
  margin-top: 30px;
  @include breakPC() {
    margin-top: 40px;
  }
  p {
    margin-bottom: 0;
  }
  + .top-txt {
    margin-top: 20px;
  }
  @at-root {
    .top-txt.-center {
      text-align: center;
    }
    .top-txt.-right {
      text-align: right;
    }
  }
}
// ----------------------------
// .top-aboutUS
// ----------------------------
.top-aboutUS {
  &__inner {
    position: relative;
    &::before {
      position: absolute;
      bottom: 80px;
      left: -20px;
      z-index: -1;
      width: 40%;
      height: 100%;
      content: "";
      background-color: transparent;
      background-image: radial-gradient(#888fa7 5%,transparent 11%);
      background-size: 12px 12px;
      opacity: .6;
    }
  }
  &__intro {
    position: relative;
    max-width: 1460px;
    padding: 0 25px;
    margin: auto;
    @include breakPC() {
      padding: 0 60px;
    }
    &::before {
      position: absolute;
      left: 6px;
      width: 1px;
      height: 100%;
      content: "";
      background-color: $FONT_COLOR;
      @include breakPC() {
        left: 30px;
      }
    }
    &::after {
      position: absolute;
      bottom: 5px;
      left: 4.5px;
      width: 15px;
      height: 1px;
      content: "";
      background-color: $FONT_COLOR;
      transform: rotate(-45deg);
      @include breakPC() {
        left: 28px;
      }
    }
    &__inner {
      position: relative;
      padding: 0 40px;
      @include contentWidth();
    }
  }
  &__secHdg {
    position: absolute;
    top: 55px;
    left: -30px;
    font-family: $FONT_FAMILY_DIDACT;
    font-size: 1rem;
    transform: rotate(90deg);
    @include breakPC() {
      left: 0px;
      font-size: 1.1rem;
    }
  }
  &__service {
    margin-top: 50px;
    @include breakPC() {
      display: flex;
      justify-content: flex-start;
      margin-top: 80px;
    }
    &__item {
      position: relative;
      padding: 40px 20px;
      color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include breakPC() {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        justify-content: space-around;
        padding: 80px 40px 40px;
      }
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        content: "";
        background-color: #505050;
        opacity: .5;
      }
      &.of-bgRecruit {
        background-image: url("../images/top_index_01.jpg");
      }
      &.of-bgCorporate {
        background-image: url("../images/top_index_02.jpg");
      }
      &.of-bgProduct {
        background-image: url("../images/top_index_03.jpg");
      }
      > * {
        position: relative;
      }
    }
    &__hdg {
      margin-bottom: 20px;
      font-size: 1.8rem;
      text-align: center;
      @include breakPC() {
        margin-bottom: 40px;
        font-size: 2.8rem;
      }
    }
  }
}
// ----------------------------
// .top-chosen
// ----------------------------
.top-chosen {
  position: relative;
  &::before {
    @include backDot();
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: calc(40% + 60px);
    content: "";
  }
  .chosenCol {
    margin-top: 30px;
    @include breakPC() {
      display: flex;
      margin-top: 60px;
      margin-left: -75px;
    }
    &__item {
      &:nth-of-type(n + 2) {
        margin-top: 30px;
        @include breakPC() {
          margin-top: 0;
        }
      }
      @include breakPC() {
        margin-left: 75px;
      }
    }
    .chosenBox {
      position: relative;
      padding: 120px 20px 30px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0,0,0,.16);
      @include breakPC() {
        padding: 240px 30px 40px;
      }
      &__hdg {
        padding: 0 6px;
        margin-bottom: 20px;
        font-size: 1.8rem;
        text-align: center;
        @include breakPC() {
          margin-bottom: 40px;
          font-size: 2rem;
        }
      }
      &.choseIcon-plan,
      &.choseIcon-service,
      &.choseIcon-work {
        &::before {
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
          content: "";
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      &.choseIcon-plan {
        &::before {
          top: 50px;
          width: 72px;
          height: 50px;
          background-image: inline("top_index_icon-01.svg");
          @include breakPC(){
            top: 100px;
            width: 124px;
            height: 80px;
          }
        }
      }
      &.choseIcon-service {
        &::before {
          top: 40px;
          width: 58px;
          height: 60px;
          background-image: inline("top_index_icon-02.svg");
          @include breakPC(){
            top: 90px;
            width: 83px;
            height: 87px;
          }
        }
      }
      &.choseIcon-work {
        &::before {
          top: 40px;
          width: 53px;
          height: 65px;
          background-image: inline("top_index_icon-03.svg");
          @include breakPC(){
            top: 93px;
            width: 80px;
            height: 98px;
          }
        }
      }
    }
  }
}


// ----------------------------
// .top-qa
// ----------------------------
.top-qa {
  .qaList {
    margin-top: 30px;
    @include breakPC() {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      margin-left: -60px;
    }
    &__item {
      @include breakSP() {
        &:nth-of-type(n+2){
          padding-top: 20px;
          margin-top: 20px;
          border-top: 1px dotted #ccc;
        }
      }
      @include breakPC() {
      width: calc(50% - 60px);
      margin-left: 60px;
        &:nth-of-type(n+3){
            margin-top: 60px;
        }
      }
    }
  }
  .qaBox {
    dt,
    dd {
      position: relative;
      &::before {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        font-family: $FONT_FAMILY_DIDACT;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1;
        border-radius: 50%;
        @include breakPC() {
          width: 40px;
          height: 40px;
          font-size: 1.6rem;
        }
      }
    }
    dt {
      padding: 9px 0 9px 40px;
      font-size: 1.4rem;
      @include breakPC() {
        padding: 9px 0 9px 60px;
        font-size: 1.6rem;
      }
      &::before {
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: #fff;
        content: "Q";
        background-color: $BG_COLOR;
      }
    }
    dd {
      padding-left: 40px;
      margin-top: 15px;
      @include breakPC() {
        padding-left: 60px;
        margin-top: 50px;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "A";
        background-color: #fff;
        border: 1px solid $BG_COLOR;
        border-radius: 50%;
      }
    }
  }
}


// ----------------------------
// .top-case
// ----------------------------
.top-case {
  position: relative;
  padding-bottom: 60px;

  @include breakPC() {
    padding-bottom: 80px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 50%;
    height: calc(65% + 80px);
    content: "";
    background-color: transparent;
    background-image: radial-gradient(#888fa7 5%,transparent 11%);
    background-size: 12px 12px;
    opacity: .6;
    @include breakPC() {
      bottom: -80px;
    }
  }
  &__inner {
    @include contentWidth();
  }
  &__col {
    margin-top: 30px;
    @include breakPC() {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      margin-left: -70px;
    }
    .col {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      &:nth-of-type(n+2) {
        margin-top: 30px;
      }
      @include breakPC() {
        width: calc(50% - 70px);
        margin-left: 70px;
        &:nth-of-type(n+2) {
          margin-top: 0;
        }
      }
      &__contents {
        margin-top: 20px;
        @include breakPC() {
          margin-top: 30px;
        }
        .top-hdg {
          font-size: 1.8rem;
          @include breakPC() {
            font-size: 2.4rem;
          }
        }
        .top-txt {
          margin-top: 10px;
          @include breakPC() {
            margin-top: 30px;
          }
        }
        .top-btnLink {
          margin-top: 10px;
          text-align: right;
          @include breakPC() {
            margin-top: 30px;
          }
        }
      }
      &__image {
        img {
          width: 100%;
        }
      }
    }
  }
}
