@charset "utf-8";

// definitions
@import "setting/_variables";
@import "setting/_mixins";

// base setting
@import "base/_normalize";
@import "base/_bsse";

//frame setting
@import "layout/_header";
@import "layout/_footer";
@import "layout/_main";

//contents setting
@import "content/_category";

// module
@import "module/_hdg";
@import "module/_text";
@import "module/_layout";
@import "module/_link";
@import "module/_list";