<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>第二階層テンプレート | template</title>
<meta name="description" content="$$$dummy$$$">
<link rel="stylesheet" href="/css/common.min.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;700&Didact+Gothic&display=swap" rel="stylesheet">
<script src="/js/run.js" defer></script>
</head>
<body>
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼ header start ▼▼▼▼▼▼▼▼▼▼▼▼ -->
<!--#include file="inc/header.html" -->
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲ header end ▲▲▲▲▲▲▲▲▲▲▲▲ -->



<!-- ▼▼▼▼▼▼▼▼▼▼▼▼ main start ▼▼▼▼▼▼▼▼▼▼▼▼ -->
<main class="main">
<nav aria-label="breadcrumb" class="breadcrumb">
<ol class="breadcrumb__list">
<li><a href="/">ホーム</a></li>
<li><a aria-current="page">第二階層</a></li>
</ol><!-- breadcrumb__list-->
</nav>

<div class="main-contents">
<div class="main-contents__inner">
<div class="c-layout-mv">
<div class="c-layout-mv__contents">
<h1 class="m-hdgSubtxt"><span>第二階層</span>SECONDARY</h1>
</div>

<div class="c-layout-mv__image">
<img src="/_think/dummy/img/640x390.png" alt="">
</div>
<!-- c-layout-mv --></div>

<div class="c-wrapper">
<div class="c-wrapper__inner">
<p>ここにモジュールが入ります</p>
<!-- c-wrapper__inner --></div>
<!-- c-wrapper --></div>

<div class="c-wrapper c-wrapper--gray">
<div class="c-wrapper__inner">
<p>ここにモジュールが入ります</p>
<!-- c-wrapper__inner --></div>
<!-- c-wrapper --></div>
<!-- main-contents__inner --></div>
<!-- main-contents --></div>
</main>
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲ main end ▲▲▲▲▲▲▲▲▲▲▲▲ -->



<!-- ▼▼▼▼▼▼▼▼▼▼▼▼ footer start ▼▼▼▼▼▼▼▼▼▼▼▼ -->
<!--#include file="inc/footer.html" -->
<!-- ▲▲▲▲▲▲▲▲▲▲▲▲ footer end ▲▲▲▲▲▲▲▲▲▲▲▲ -->
</div>
</body>
</html>